// breakpoints
$_mobile: 375px;
$_desktop: 1210px;

// mixins
@mixin media($_screen) {
  @if $_screen == mobile {
    @media screen and (min-width: $_mobile) {
      @content;
    }
  } @else if $_screen == tablet {
    @media screen and (min-width: $_tablet) {
      @content;
    }
  } @else if $_screen == desktop {
    @media screen and (min-width: $_desktop) {
      @content;
    }
  }
}

@mixin button-icon {
  cursor: pointer;
  border: none;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
