$_main_text_color: #1d1d1d;
$_main_bg_color: #fbfbfb;
$_second_bg_color: #ffffff;
$_border_color: #f2f2f2;
$_accent_color: #ff7d01;
$_placeholder_color: #9a9a9a;
$_gray_text_color: #717171;
$_green_color: #94f79a;
$_purple_color: #f391de;
$_blue_color: #7bc8fc;
$_gray_border: #dddddd;
$_footer_text: #848484;
$_header_color: #f8f8f8;
$_main_font_family: 'Montserrat', sans-serif;
$_main_font_size: 16px;

$transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$transition: 300ms;
