<section class="brands">
  <div class="container brands__relative">
    <h2 class="brands__title">Наші бренди</h2>

    <div class="brands__swiper">
      <div class="swiper-wrapper brands__wrapper">
        <div class="swiper-slide brands__slide">
          <ul class="brands__list">
            <li class="brands__item">
              <img
                class="brands__img"
                src="./img/brands/desk-royal.svg"
                alt="brands-img"
              />
            </li>
            <li class="brands__item">
              <img
                class="brands__img"
                src="./img/brands/desk-purina.svg"
                alt="brands-img"
              />
            </li>
            <li class="brands__item">
              <img
                class="brands__img"
                src="./img/brands/desk-acana.svg"
                alt="brands-img"
              />
            </li>
            <li class="brands__item">
              <img
                class="brands__img"
                src="./img/brands/desk-hills.svg"
                alt="brands-img"
              />
            </li>
          </ul>
        </div>
        <div class="swiper-slide brands__slide">
          <ul class="brands__list">
            <li class="brands__item">
              <img
                class="brands__img"
                src="./img/brands/desk-royal.svg"
                alt="brands-img"
              />
            </li>
            <li class="brands__item">
              <img
                class="brands__img"
                src="./img/brands/desk-purina.svg"
                alt="brands-img"
              />
            </li>
            <li class="brands__item">
              <img
                class="brands__img"
                src="./img/brands/desk-acana.svg"
                alt="brands-img"
              />
            </li>
            <li class="brands__item">
              <img
                class="brands__img"
                src="./img/brands/desk-hills.svg"
                alt="brands-img"
              />
            </li>
          </ul>
        </div>
        <div class="swiper-slide brands__slide">
          <ul class="brands__list">
            <li class="brands__item">
              <img
                class="brands__img"
                src="./img/brands/desk-royal.svg"
                alt="brands-img"
              />
            </li>
            <li class="brands__item">
              <img
                class="brands__img"
                src="./img/brands/desk-purina.svg"
                alt="brands-img"
              />
            </li>
            <li class="brands__item">
              <img
                class="brands__img"
                src="./img/brands/desk-acana.svg"
                alt="brands-img"
              />
            </li>
            <li class="brands__item">
              <img
                class="brands__img"
                src="./img/brands/desk-hills.svg"
                alt="brands-img"
              />
            </li>
          </ul>
        </div>
      </div>
      <!-- <button
        type="button"
        class="brands__btn brands__btn--left swiper-button-prev"
      >
        <svg class="brands__icon" width="12px" height="12px">
          <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button
        type="button"
        class="brands__btn brands__btn--right swiper-button-next"
      >
        <svg class="brands__icon" width="12px" height="12px">
          <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button> -->
      <!-- <div class="swiper-pagination2"></div> -->
    </div>
    <button
      type="button"
      class="brands__btn brands__btn--left swiper-button-prev"
    >
      <svg class="brands__icon" width="12px" height="12px">
        <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button
      type="button"
      class="brands__btn brands__btn--right swiper-button-next"
    >
      <svg class="brands__icon" width="12px" height="12px">
        <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </button>
    <div class="swiper-pagination2"></div>
  </div>
</section>
