<section class="news">
  <div class="container">
    <div class="news__firstWrapper">
      <h2 class="news__title">Підпишись на наші новини</h2>
      <div class="news__wrapper">
        <form class="news__form" action="">
          <input
            class="news__input"
            type="text"
            name="follow"
            id="follow"
            placeholder="Ваша пошта"
          />
          <button class="news__button" type="submit">Підписатись</button>
        </form>
      </div>
    </div>
  </div>
</section>
