<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="./index.html">
        <img class="footer__logoMob" src="./img/footer/EUROZOO.svg" alt=""
      /></a>
      <a href="./index.html">
        <img class="footer__logoDesk" src="./img/logo/LOGO.svg" alt=""
      /></a>
      <ul class="footer__listCard">
        <li class="footer__itemCard">
          <img
            class="footer__imgCard"
            src="./img/footer/mastercard.svg"
            alt="visa"
          />
        </li>
        <li class="footer__itemCard">
          <img class="footer__imgCard" src="./img/footer/visa.svg" alt="visa" />
        </li>
      </ul>
      <ul class="footer__mediaList">
        <li class="footer__mediaItem">
          <a class="footer__mediaLink" href="https://www.linkedin.com/">
            <svg class="footer__mediaIcon" width="16px" height="16px">
              <use href="../img/symbol-defs.svg#icon-linkedin"></use></svg
          ></a>
        </li>
        <li class="footer__mediaItem">
          <a class="footer__mediaLink" href="https://www.linkedin.com/">
            <svg class="footer__mediaIcon" width="24px" height="24px">
              <use href="../img/symbol-defs.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="footer__mediaItem">
          <a class="footer__mediaLink" href="https://www.linkedin.com/">
            <svg class="footer__mediaIcon" width="24px" height="24px">
              <use href="../img/symbol-defs.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="footer__mediaItem">
          <a class="footer__mediaLink" href="https://www.linkedin.com/">
            <svg class="footer__mediaIcon" width="16px" height="16px">
              <use href="../img/symbol-defs.svg#icon-twitter"></use></svg
          ></a>
        </li>
        <li class="footer__mediaItem">
          <a class="footer__mediaLink" href="https://www.linkedin.com/">
            <svg class="footer__mediaIcon" width="16px" height="16px">
              <use href="../img/symbol-defs.svg#icon-youtube"></use></svg
          ></a>
        </li>
      </ul>
    </div>

    <div class="footer__line"></div>
    <div class="footer__listWrapper">
      <div class="footer__listWrap">
        <h2 class="footer__title">Категорії</h2>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Котам </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Собакам </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Птахам </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Гризунам </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Рибам </a>
          </li>
        </ul>
      </div>
      <div class="footer__listWrap">
        <h2 class="footer__title">Клієнтам</h2>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Доставка </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Повернення і обмін</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Програма лояльності</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Наші магазини </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Про компанію </a>
          </li>
        </ul>
      </div>
      <div class="footer__listWrap">
        <h2 class="footer__title">Корисне</h2>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Договір оферти</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Мапа сайту </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Відгуки </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Контакти </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Бренди</a>
          </li>
        </ul>
      </div>
      <div class="footer__listWrap">
        <h2 class="footer__title">Контакти</h2>
        <ul class="footer__list">
          <li class="footer__item">
            <a
              class="footer__link footer__link--extrabold"
              href="tel:0800333133"
              >0800 333 133</a
            >
          </li>
          <li class="footer__item">Безкоштовно по Україні</li>
          <li class="footer__item">Графік роботи call-центру:</li>
          <li class="footer__item footer__link--bold">Пн.-Пт. 09.00-20.00</li>
          <li class="footer__item">
            <a
              class="footer__link footer__link--bold"
              href="mailto:info@eurozoo.com"
              >info@eurozoo.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__line"></div>
    <div>
      <p class="footer__copyRights">
        © 2024 Інтернет-магазин зоотоварів EuroZoo. Всі права захищені
      </p>
      <a class="footer__policy" href="#">Політика конфіденційності</a>
    </div>
  </div>
</footer>
