<section class="hero">
  <div class="container">
    <div class="hero__img">
      <div class="hero__textWrapper">
        <h2 class="hero__bigText">Новинка!</h2>
        <p class="hero__text">Необхідні товаари для вас та вашого улюбленця.</p>
        <a class="hero__link" href="#">
          Дізнатися більше
          <svg class="hero__icon" width="22px" height="22px">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
      <img class="hero__dots" src="./img/brands/dots.svg" alt="dots" />
    </div>
  </div>
</section>
