<section class="hits">
  <div class="container">
    <h2 class="hits__title">Хіти продажу</h2>
    <ul class="hits__list">
      <li class="hits__item">
        <picture>
          <source
            srcset="./img/new/new-1-1x.png 1x, ./img/new/new-1-2x.png 2x"
          />
          <img
            class="hits__image"
            src="./img/new/new-1-1x.png"
            alt="Корм Royal Canin"
          />
        </picture>
        <div class="hits__artikulWrapper">
          <p class="hits__artikul">Артикул: 48952746</p>
          <div class="hits__ratingWrapper">
            <ul class="hits__ratingList">
              <li>
                <svg class="hits__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="hits__ratingText">(12 відгуків)</p>
          </div>
        </div>
        <div class="hits__goodsWrapper">
          <p class="hits__goods">Корм Royal Canin</p>
          <p class="hits__deskription">
            вологий корм у соусі для кошенят на кожен день (до 12 місяців)
          </p>
        </div>
        <div class="hits__buttonWrapper">
          <button class="hits__button">Купити</button>
          <div class="hits__price">
            <span class="hits__priceOld">700 грн</span>
            <span class="hits__priceNew">550 грн</span>
          </div>
        </div>
        <div class="hits__new">Новинка</div>
      </li>
      <li class="hits__item">
        <picture>
          <source
            srcset="./img/new/new-2-1x.png 1x, ./img/new/new-2-2x.png 2x"
          />
          <img
            class="hits__image"
            src="./img/new/new-2-1x.png"
            alt="Корм Royal Canin"
          />
        </picture>
        <div class="hits__artikulWrapper">
          <p class="hits__artikul">Артикул: 48952746</p>
          <div class="hits__ratingWrapper">
            <ul class="hits__ratingList">
              <li>
                <svg class="hits__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="hits__ratingText">(12 відгуків)</p>
          </div>
        </div>
        <div class="hits__goodsWrapper">
          <p class="hits__goods">Корм Royal Canin</p>
          <p class="hits__deskription">
            вологий корм у соусі для кошенят на кожен день (до 12 місяців)
          </p>
        </div>
        <div class="hits__buttonWrapper">
          <button class="hits__button">Купити</button>
          <div class="hits__price">
            <span class="hits__priceOld">700 грн</span>
            <span class="hits__priceNew">550 грн</span>
          </div>
        </div>
      </li>
      <li class="hits__item">
        <picture>
          <source
            srcset="./img/new/new-3-1x.png 1x, ./img/new/new-3-2x.png 2x"
          />
          <img
            class="hits__image"
            src="./img/new/new-3-1x.png"
            alt="Корм Royal Canin"
          />
        </picture>
        <div class="hits__artikulWrapper">
          <p class="hits__artikul">Артикул: 48952746</p>
          <div class="hits__ratingWrapper">
            <ul class="hits__ratingList">
              <li>
                <svg class="hits__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="hits__ratingText">(12 відгуків)</p>
          </div>
        </div>
        <div class="hits__goodsWrapper">
          <p class="hits__goods">Корм Royal Canin</p>
          <p class="hits__deskription">
            вологий корм у соусі для кошенят на кожен день (до 12 місяців)
          </p>
        </div>
        <div class="hits__buttonWrapper">
          <button class="hits__button">Купити</button>
          <div class="hits__price">
            <span class="hits__priceNew">550 грн</span>
          </div>
        </div>
      </li>
      <li class="hits__item">
        <picture>
          <source
            srcset="./img/new/new-4-1x.png 1x, ./img/new/new-4-2x.png 2x"
          />
          <img
            class="hits__image"
            src="./img/new/new-4-1x.png"
            alt="Корм Royal Canin"
          />
        </picture>
        <div class="hits__artikulWrapper">
          <p class="hits__artikul">Артикул: 48952746</p>
          <div class="hits__ratingWrapper">
            <ul class="hits__ratingList">
              <li>
                <svg class="hits__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="hits__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="hits__ratingText">(12 відгуків)</p>
          </div>
        </div>
        <div class="hits__goodsWrapper">
          <p class="hits__goods">Корм Royal Canin</p>
          <p class="hits__deskription">
            вологий корм у соусі для кошенят на кожен день (до 12 місяців)
          </p>
        </div>
        <div class="hits__buttonWrapper">
          <button class="hits__button" type="button">Купити</button>
          <div class="hits__price">
            <span class="hits__priceNew">550 грн</span>
          </div>
        </div>
      </li>
    </ul>
    <button class="hits__moreBtn" type="button">
      Показати ще
      <svg class="hits__arrow" width="12px" height="12px">
        <use href="./img/symbol-defs.svg#icon-Arrow"></use>
      </svg>
    </button>
  </div>
</section>
