<section class="new">
  <div class="container">
    <h2 class="new__title">Новинки</h2>
    <ul class="new__list">
      <li class="new__item">
        <picture>
          <source
            srcset="./img/new/new-1-1x.png 1x, ./img/new/new-1-2x.png 2x"
          />
          <img
            class="new__image"
            src="./img/new/new-1-1x.png"
            alt="Корм Royal Canin"
          />
        </picture>
        <div class="new__artikulWrapper">
          <p class="new__artikul">Артикул: 48952746</p>
          <div class="new__ratingWrapper">
            <ul class="new__ratingList">
              <li>
                <svg class="new__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="new__ratingText">(12 відгуків)</p>
          </div>
        </div>
        <div class="new__goodsWrapper">
          <p class="new__goods">Корм Royal Canin</p>
          <p class="new__deskription">
            вологий корм у соусі для кошенят на кожен день (до 12 місяців)
          </p>
        </div>
        <div class="new__buttonWrapper">
          <button class="new__button">Купити</button>
          <div class="new__price">
            <span class="new__priceOld">700 грн</span>
            <span class="new__priceNew">550 грн</span>
          </div>
        </div>
      </li>
      <li class="new__item">
        <picture>
          <source
            srcset="./img/new/new-2-1x.png 1x, ./img/new/new-2-2x.png 2x"
          />
          <img
            class="new__image"
            src="./img/new/new-2-1x.png"
            alt="Корм Royal Canin"
          />
        </picture>
        <div class="new__artikulWrapper">
          <p class="new__artikul">Артикул: 48952746</p>
          <div class="new__ratingWrapper">
            <ul class="new__ratingList">
              <li>
                <svg class="new__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon" width="12px" height="12px">
                  <use href="../img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="new__ratingText">(12 відгуків)</p>
          </div>
        </div>
        <div class="new__goodsWrapper">
          <p class="new__goods">Корм Royal Canin</p>
          <p class="new__deskription">
            вологий корм у соусі для кошенят на кожен день (до 12 місяців)
          </p>
        </div>
        <div class="new__buttonWrapper">
          <button class="new__button">Купити</button>
          <div class="new__price">
            <span class="new__priceOld">700 грн</span>
            <span class="new__priceNew">550 грн</span>
          </div>
        </div>
      </li>
      <li class="new__item">
        <picture>
          <source
            srcset="./img/new/new-3-1x.png 1x, ./img/new/new-3-2x.png 2x"
          />
          <img
            class="new__image"
            src="./img/new/new-3-1x.png"
            alt="Корм Royal Canin"
          />
        </picture>
        <div class="new__artikulWrapper">
          <p class="new__artikul">Артикул: 48952746</p>
          <div class="new__ratingWrapper">
            <ul class="new__ratingList">
              <li>
                <svg class="new__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="new__ratingText">(12 відгуків)</p>
          </div>
        </div>
        <div class="new__goodsWrapper">
          <p class="new__goods">Корм Royal Canin</p>
          <p class="new__deskription">
            вологий корм у соусі для кошенят на кожен день (до 12 місяців)
          </p>
        </div>
        <div class="new__buttonWrapper">
          <button class="new__button">Купити</button>
          <div class="new__price">
            <span class="new__priceNew">550 грн</span>
          </div>
        </div>
      </li>
      <li class="new__item">
        <picture>
          <source
            srcset="./img/new/new-4-1x.png 1x, ./img/new/new-4-2x.png 2x"
          />
          <img
            class="new__image"
            src="./img/new/new-4-1x.png"
            alt="Корм Royal Canin"
          />
        </picture>
        <div class="new__artikulWrapper">
          <p class="new__artikul">Артикул: 48952746</p>
          <div class="new__ratingWrapper">
            <ul class="new__ratingList">
              <li>
                <svg class="new__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star-fill"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="new__icon2" width="12px" height="12px">
                  <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="new__ratingText">(12 відгуків)</p>
          </div>
        </div>
        <div class="new__goodsWrapper">
          <p class="new__goods">Корм Royal Canin</p>
          <p class="new__deskription">
            вологий корм у соусі для кошенят на кожен день (до 12 місяців)
          </p>
        </div>
        <div class="new__buttonWrapper">
          <button class="new__button" type="button">Купити</button>
          <div class="new__price">
            <span class="new__priceNew">550 грн</span>
          </div>
        </div>
      </li>
    </ul>
    <button class="new__moreBtn" type="button">
      Показати ще
      <svg class="new__arrow" width="12px" height="12px">
        <use href="./img/symbol-defs.svg#icon-Arrow"></use>
      </svg>
    </button>
  </div>
</section>
