<section class="categories">
  <div class="container">
    <h2 class="categories__title">Популярні категорії</h2>
    <ul class="categories__list">
      <li class="categories__item categories__item--kitten">
        <p class="categories__text">Іграшки для котів</p>
        <a class="categories__link" href="#">
          <svg class="categories__icon" width="12px" height="12px">
            <use href="../img/symbol-defs.svg#icon-arrow-right"></use></svg
        ></a>
      </li>
      <li class="categories__item categories__item--cat">
        <p class="categories__text">Одяг для котів</p>
        <a class="categories__link" href="#">
          <svg class="categories__icon" width="12px" height="12px">
            <use href="../img/symbol-defs.svg#icon-arrow-right"></use></svg
        ></a>
      </li>
      <li class="categories__item categories__item--parrot">
        <p class="categories__text">Корм для птахів</p>
        <a class="categories__link" href="#">
          <svg class="categories__icon" width="12px" height="12px">
            <use href="../img/symbol-defs.svg#icon-arrow-right"></use></svg
        ></a>
      </li>
      <li class="categories__item categories__item--fish">
        <p class="categories__text">Корм для риб</p>
        <a class="categories__link" href="#">
          <svg class="categories__icon" width="12px" height="12px">
            <use href="../img/symbol-defs.svg#icon-arrow-right"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
