.hero {
  padding-top: 20px;
  text-align: center;

  @include media(desktop) {
    padding-top: 12px;
    text-align: start;
  }

  &__textWrapper {
    top: 0;
    position: absolute;
    padding: 20px 10px;

    @include media(mobile) {
      padding: 42px 42px 427px 42px;
    }

    @include media(desktop) {
      padding: 71px 740px 71px 62px;
    }
  }
  &__bigText {
    font-size: 43px;
    font-weight: 800;
    color: $_second_bg_color;
    margin-bottom: 23px;

    @include media(desktop) {
      font-size: 52px;
      margin-bottom: 38px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    color: $_second_bg_color;
    margin-bottom: 20px;

    @include media(desktop) {
      margin-bottom: 28px;
    }
  }
  &__link {
    width: 218px;
    @include center;
    background-color: $_accent_color;
    padding: 20px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    color: $_second_bg_color;
    gap: 12px;
    white-space: nowrap;
    margin: 0 auto;

    @include media(desktop) {
      margin: 0;
    }
  }

  &__icon {
    fill: $_second_bg_color;
  }
}

.swiper {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  gap: 10px;
  transform: translateX(-50%);
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid $_accent_color;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: $_accent_color;
}
